*{
  margin: 0;
  padding: 0;
}
body{
/* background-color: rgb(46 ,55 ,62);  */
background: rgb(44, 63, 77);
}
html {
overflow-x: hidden;
scroll-behavior: smooth;
/* overflow-y: hidden; */
}
header {
display: flex;
margin-top: 30px;
margin-left: 50px;
position: fixed;
height: 50px;
width: 100%;
z-index: 1000;

}
a {
text-decoration: none;
color: aqua;
}
ul{
display: flex;
}
li{
list-style: none;
}
.nav {
margin-left: 550px;
/* margin-top: 20px; */
}
.nav a {
display: inline-block;
padding: 10px;
margin: 10px;
justify-content: space-between;
border: 2px solid white;
border-radius: 10px;
animation: slidetop 1s ease forwards;
animation-delay: calc(.2s * var(--i));
}
.nav a:hover {
  /* background-color: aqua; */
  border: 1.5px red;
  background-color: cadetblue;
  font-size: 20px;
  /* transition: scale(1.5); */
}
/* .po{
animation: slideRight 2s ease forwards;
} */
.logo {
font-size: xx-large;
color: aqua;
}
.logo:hover{
color: white;
font-size: 50px;
/* animation-duration: 3s; */

}
.box{
  /* border: 2px solid: rgb; */
  background: black;
  position: fixed;
  height: 100px;
  width: 100%;
  z-index: 1000;
  }
 
  .contact-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  h1{
    color: aliceblue;
    margin-top: 100px;
    font-size: 66px;
  }

  .contact{
    margin-top: 50px;
    margin-left: -900px;
    height: 500px;
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(54, 76, 93);
    box-shadow: 2px 2px 20px black;
    animation: slideRight 1s ease forwards;
    /* text-align: center; */
  }
  .xyz{
    display: flex;
    
    justify-content: space-evenly;
    
    padding-left: 200px;
  }
  .contact form{
    margin-left: 0;
  }
  .msg{
    height: 40px;
    margin: 20px;
    width: 454px;
    padding: 5px;
    font-size: large;
    border-radius: 10px;
    border: 2px solid black;
  }
  
  .btn1{
    border-radius: 10px;
    height: 25px;
    width: 100px;
    font-size: larger;
    font-weight: bold;
    font-style: italic;
    margin-left: 183px;
    margin-top: 10px;
  }
  
  .xyz .gif{
    position: relative;
    
    margin-top: 50px;
    margin-right: -800px;
    height: 500px;
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    animation: slideleft 1s ease forwards;
  
  /* padding-right: 500px; */
}
.gif img{
  /* padding-right: 500px; */
  height: 500px;
  width: 400px;
  border-radius: 50px;
  box-shadow: 2px 2px 10px black;
}


@keyframes slideRight {
  0%{
      transform: translateX(-100px);
      opacity: 0;
      /* color: aqua;
      font-size: small; */
  }
  100%
  {
    transform: translateX(0);
    opacity: 1;
  }
}
span{
  color: aqua;
}
@keyframes slideleft
{
  0%{
    transform: translateX(100px);
opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}