*{
  margin: 0;
  padding: 0;
}
body{
background-color: black; 

}
html {
overflow-x: hidden;
scroll-behavior: smooth;
overflow-y: hidden;
}
header {
display: flex;
margin-top: 30px;
margin-left: 50px;
position: fixed;
height: 50px;
width: 100%;
z-index: 1000;

}
a {
text-decoration: none;
}
ul{
display: flex;
}
li{
list-style: none;
}
.nav {
margin-left: 550px;
/* margin-top: 20px; */
}
.nav a {
display: inline-block;
padding: 10px;
margin: 10px;
justify-content: space-between;
border: 2px solid white;
border-radius: 10px;
color: aqua;
animation: slidetop 1s ease forwards;
animation-delay: calc(.2s * var(--i));
}
.nav a:hover {
/* background-color: aqua; */
border: 1.5px red;
background-color: cadetblue;
font-size: 20px;
/* transition: scale(1.5); */
}
.po{
animation: slideRight 2s ease forwards;
}
.logo {
font-size: xx-large;
color: aqua;
}
.logo:hover{
color: white;
font-size: 50px;
/* animation-duration: 3s; */

}
.box{
  border: 2px solid black;
  background: black;
  position: fixed;
  height: 100px;
  width: 100%;
  z-index: 1000;
  }

.about-container{
position: relative;
/* margin-top: 100px;  */
display: flex;
justify-content: space-between;
align-items: center;
font-style: italic;
margin-left: 100px;
}
.about-img{
margin-top: 150px;
}
.about-img,img{
max-width: 450px;
border-radius: 1000px;
animation: image 1s ease forwards;
animation-delay: .7s;
box-shadow: 1px 2px 20px aqua;
}
.about{
align-items: center;
margin-left: 100px;
margin-top: 150px;
margin-right: 100px;
}
.about,p{
color: aliceblue;
margin-top: 10px;
}
span{
color: aqua;
}
@keyframes image
{
0%{
  transform: scale(0);
opacity: 0;
}
100%{
  transform: scale(1);
  opacity: 1;
}
}
.btn {
font-size: 18px;
color: white;
border: 2px solid;
border-radius: 10px;
padding: 5px;
cursor: pointer;
background-color: aqua;
box-shadow: 1px 0 20px aqua;
letter-spacing: 1px;
margin-top: 10px;
}
.btn:hover{
background-color: cadetblue;
font-size: 20px;
}
h3{
font-weight: bold;
margin-top: 5px;
font-size: large;
}
h2{
font-size: 30px;
font-weight: bolder;

}
