* {
  margin: 0px;
  padding: 0px;
  color: white;
}
body {
  background-color: black;
  /* transform: rotate3d(2deg, 2deg, 2deg); */
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  overflow-y: hidden;
  
}
header {
  display: flex;
  margin-top: 30px;
  margin-left: 50px;
  position: fixed;
  height: 50px;
  width: 100%;
  z-index: 1000;
}
a {
  text-decoration: none;
}
.box {
  border: 2px solid black;
  background: black;
  position: fixed;
  height: 100px;
  width: 100%;
  z-index: 1000;
}

.po a {
  text-decoration: none;
  color: aqua;
}
ul {
  display: flex;
}
li {
  list-style: none;
}
.nav {
  margin-left: 600px;
  /* margin-top: 20px; */
}
.nav a {
  text-decoration: none;
  color: aqua;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  justify-content: space-between;
  border: 2px solid white;
  border-radius: 10px;
  animation: slidetop 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.nav a:hover {
  /* background-color: aqua; */
  border: 1.5px rgb(47, 39, 39);
  background-color: cadetblue;
  font-size: 20px;
  /* transition: scale(1.5); */
}
.home-container {
  position: relative;
  width: 100%;
  height: 700px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: italic;
  background: radial-gradient(aqua, black);
  
}
.intro {
  font-size: 35px;
  /* margin-top: 0px; */
  margin-left: 200px;
  color: blueviolet;
  /* animation: slidebottom 1s ease forwards;
  animation-delay: .7s; */
}
h3 {
  animation: slidebottom 1s ease forwards;
  animation-delay: 0.7s;
  opacity: 0;
  
}
h1 {
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
  transition: ease-in;
  opacity: 0;
  /* background:  linear-gradient(aqua, black); */
  color: black;
}
h3 span {
  color: aqua;
}
.home-img {
  align-items: center;
  /* margin: auto; */
  margin-right: 300px;
  background-color: aqua;
  box-shadow: 1px 2px 20px aqua;
  opacity: 0;
  animation: image 1s ease forwards;
  animation-delay: 0.7s;
  /* padding-left: 50px; */
}
.home-img,
img {
  /* margin-left: 50px; */
  border-radius: 1000px;
  max-width: 450px;
}
.home-img,
img:hover {
  transform: scale(1.2);
}
.po {
  animation: slideRight 2s ease forwards;
}
/* .po::before{
  content: "";
  position: absolute;
  z-index: -1;

} */
.logo {
  font-size: xx-large;
}
.logo:hover {
  color: white;
  font-size: 50px;
  /* animation-duration: 3s; */
}
.btn {
  /* text-decoration: none; */
  font-size: 18px;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  background: linear-gradient(transparent, black);
  box-shadow: 1px 0 20px aqua;
  letter-spacing: 1px;
  transition-property: background-color;
}
.btn:hover {
  background-color: rgb(0, 128, 255);
  transition-duration: 1s;
  transition-timing-function:ease-in;
  /* background-color: cadetblue; */
  font-size: 20px;
}
.social-media a {
  text-decoration: none;
  font-size: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  /* background-color: transparent; */
  border-radius: 60px;
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 5px;
  transition-property: background-color;
  background: linear-gradient(transparent, black); 
  /* flex-direction: column; */
}
.social-media a:hover {
  /* background-color: #3f8585; */
  background-color: rgb(0, 128, 255);
  transition-duration: 0.5s;
  transition-timing-function:ease-in;
  color: blue;
  box-shadow: 0 0 20px rgb(55, 55, 183);
  transform: scale(1.5);
}
span {
  color: aqua;
}
/* .center a{
  color: aliceblue;
  mar
} */
footer {
  margin-top: 0px;
  margin-left: 50%;
  /* padding-left: 500px; */
  /* align-items: center; */
  opacity: 1;
  /* margin-bottom: 80px; */
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
    /* color: aqua;
      font-size: small; */
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slidetop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slidebottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideleft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes image {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.multiple-text {
  font-size: 30px;
  color: black;
  font-weight: bold;
}
